# Miles Per Gallon (MPG)

#####  This data concerns city-cycle fuel consumption in miles per gallon, to be predicted in terms of 3 multivalued discrete and 5 continuous attributes.

It has 398 Instances and 9 attributes, including the class attribute:

* mpg:                     - Continuous
* cylinders:               - multi-valued discrete
* displacement:            - Continuous
* horsepower:              - Continuous
* weight:                  - Continuous
* acceleration:            - Continuous
* model year:              - multi-valued discrete
* origin:                  - multi-valued discrete
* car name:                - string (unique for each instance)

The dataset can be found at: https://archive.ics.uci.edu/ml/datasets/auto+mpg

##### Importing necessary modules

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
# Reading the dataset
data = pd.read_csv("auto-mpg.csv")

In [3]:
# Displaying the first 5 rows of the dataset
data.head()

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino

In [4]:
# discreption of the dataset
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
mpg,392.0,23.445918,7.805007,9.0,17.000,22.75,29.000,46.6
cyl,392.0,5.471939,1.705783,3.0,4.000,4.00,8.000,8.0
displ,392.0,194.411990,104.644004,68.0,105.000,151.00,275.750,455.0
hp,392.0,104.469388,38.491160,46.0,75.000,93.50,126.000,230.0
weight,392.0,2977.584184,849.402560,1613.0,2225.250,2803.50,3614.750,5140.0
accel,392.0,15.541327,2.758864,8.0,13.775,15.50,17.025,24.8
yr,392.0,75.979592,3.683737,70.0,73.000,76.00,79.000,82.0
origin,392.0,1.576531,0.805518,1.0,1.000,1.00,2.000,3.0

#####  Spliting the dataset into features and labels

In [5]:
features = data.drop("mpg", axis=1)

In [6]:
features.head()

   cyl  displ   hp  weight  accel  yr  origin                       name
0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1    8  350.0  165    3693   11.5  70       1          buick skylark 320
2    8  318.0  150    3436   11.0  70       1         plymouth satellite
3    8  304.0  150    3433   12.0  70       1              amc rebel sst
4    8  302.0  140    3449   10.5  70       1                ford torino

In [7]:
features.shape

(392, 8)

In [8]:
labels = data["mpg"]

In [9]:
labels.shape

(392,)

In [10]:
labels.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

#####  Spliting the features and labels into training (70%) and testing ( 30%) sets with a random seeding

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.3, random_state=42)

In [13]:
x_train.shape

(274, 8)

In [14]:
x_test.head()

     cyl  displ   hp  weight  accel  yr  origin              name
78     4   96.0   69    2189   18.0  72       2   renault 12 (sw)
274    4  121.0  115    2795   15.7  78       2        saab 99gle
246    4   91.0   60    1800   16.4  78       3  honda civic cvcc
55     4   91.0   70    1955   20.5  71       1  plymouth cricket
387    4  140.0   86    2790   15.6  82       1   ford mustang gl

In [15]:
 y_test.head()

78     26.0
274    21.6
246    36.1
55     26.0
387    27.0
Name: mpg, dtype: float64

In [16]:
y_train.shape

(274,)

In [17]:
x_test.head()

     cyl  displ   hp  weight  accel  yr  origin              name
78     4   96.0   69    2189   18.0  72       2   renault 12 (sw)
274    4  121.0  115    2795   15.7  78       2        saab 99gle
246    4   91.0   60    1800   16.4  78       3  honda civic cvcc
55     4   91.0   70    1955   20.5  71       1  plymouth cricket
387    4  140.0   86    2790   15.6  82       1   ford mustang gl

#### Creating the feature columns for the regressor

In [18]:
# Creating continuous feature columns
cyl = tf.feature_column.numeric_column("cyl")
displ = tf.feature_column.numeric_column("displ")
hp = tf.feature_column.numeric_column("hp")
wght = tf.feature_column.numeric_column("weight")
acc = tf.feature_column.numeric_column("accel")
yr = tf.feature_column.numeric_column("yr")
orgn = tf.feature_column.numeric_column("origin")

In [19]:
# Total number of car names
len(data["name"].unique())

301

In [20]:
# Creating Catagorical Feature columns
name = tf.feature_column.categorical_column_with_hash_bucket("name", hash_bucket_size=1000)

In [21]:
# Aggregating all the feature columns in a single list
feature_columns = [cyl, displ, hp, wght, acc, yr, orgn, name]

####  Creating input function for the tf.estimator object.

In [22]:
input_function = tf.estimator.inputs.pandas_input_fn(x=x_train, y=y_train, batch_size=10, num_epochs=1000, shuffle=True)

###  Creating a Dense Neural Network Regressor

In [23]:
regressor = tf.estimator.DNNRegressor(feature_columns=feature_columns, hidden_units=[5,5])

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpkkNE1q
INFO:tensorflow:Using config: {'_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_tf_random_seed': 1, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_save_checkpoints_steps': None, '_model_dir': '/tmp/tmpkkNE1q', '_save_summary_steps': 100}

###  Training the regressor model for 1000 steps

In [ ]:
'''
This will generate an error because of the categorical feature 
columns. To avoid this problem the should be converted to an 
embedding_column or indicator column
''' 
regressor.train(input_fn=input_function, steps=1000)

In [26]:
# we only have a single categorical feature column --> "name"
name_embadded = tf.feature_column.embedding_column(name, dimension=1000)

In [27]:
feature_columns = [cyl, displ, hp, wght, acc, yr, orgn, name_embadded]

In [28]:
input_function = tf.estimator.inputs.pandas_input_fn(x_train, y_train, batch_size=10, num_epochs=1000, shuffle=True)

In [29]:
# Creating a DNNRegressor with 2x5 hidden layer nodes
regressor = tf.estimator.DNNRegressor(feature_columns=feature_columns, hidden_units=[50,50,50,50])

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpiLr1al
INFO:tensorflow:Using config: {'_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_tf_random_seed': 1, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_save_checkpoints_steps': None, '_model_dir': '/tmp/tmpiLr1al', '_save_summary_steps': 100}

In [30]:
regressor.train(input_fn=input_function, steps=1000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpiLr1al/model.ckpt.
INFO:tensorflow:loss = 1686.37, step = 1
INFO:tensorflow:global_step/sec: 216.135
INFO:tensorflow:loss = 636.674, step = 101 (0.467 sec)
INFO:tensorflow:global_step/sec: 219.449
INFO:tensorflow:loss = 206.243, step = 201 (0.454 sec)
INFO:tensorflow:global_step/sec: 230.602
INFO:tensorflow:loss = 75.3385, step = 301 (0.438 sec)
INFO:tensorflow:global_step/sec: 229.249
INFO:tensorflow:loss = 117.75, step = 401 (0.431 sec)
INFO:tensorflow:global_step/sec: 224.731
INFO:tensorflow:loss = 280.046, step = 501 (0.448 sec)
INFO:tensorflow:global_step/sec: 243.027
INFO:tensorflow:loss = 345.83, step = 601 (0.411 sec)
INFO:tensorflow:global_step/sec: 250.605
INFO:tensorflow:loss = 76.5898, step = 701 (0.396 sec)
INFO:tensorflow:global_step/sec: 219.639
INFO:tensorflow:loss = 272.571, step = 801 (0.466 sec)
INFO:tensorflow:global_step/sec: 213.55
INFO:tensorflow:loss = 97.3444, step = 901 (0.461 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /tmp/tmpiLr1al/model.ckpt.
INFO:tensorflow:Loss for final step: 139.842.

### Predicting on a new data

In [31]:
# Creating a  prediction input function.
prediction_input_function = tf.estimator.inputs.pandas_input_fn(x=x_test, batch_size=100, num_epochs=1, shuffle=False)

In [35]:
# Predicting...
prediction = regressor.predict(prediction_input_function)

In [37]:
predictions = list(prediction)

INFO:tensorflow:Restoring parameters from /tmp/tmpiLr1al/model.ckpt-1000

In [38]:
predictions

[{'predictions': array([ 11.57594967], dtype=float32)},
 {'predictions': array([ 12.92478275], dtype=float32)},
 {'predictions': array([ 32.62334442], dtype=float32)},
 {'predictions': array([ 10.49963665], dtype=float32)},
 {'predictions': array([ 15.66007233], dtype=float32)},
 {'predictions': array([ 27.60720634], dtype=float32)},
 {'predictions': array([ 19.98467827], dtype=float32)},
 {'predictions': array([ 12.38240051], dtype=float32)},
 {'predictions': array([ 12.70835972], dtype=float32)},
 {'predictions': array([ 7.99731684], dtype=float32)},
 {'predictions': array([ 12.26241016], dtype=float32)},
 {'predictions': array([ 19.18324471], dtype=float32)},
 {'predictions': array([ 19.62080765], dtype=float32)},
 {'predictions': array([ 27.62017822], dtype=float32)},
 {'predictions': array([ 14.51937866], dtype=float32)},
 {'predictions': array([ 33.4028244], dtype=float32)},
 {'predictions': array([ 23.23968506], dtype=float32)},
 {'predictions': array([ 28.34254646], dtype=float32)},
 {'predictions': array([ 12.59781933], dtype=float32)},
 {'predictions': array([ 11.74969387], dtype=float32)},
 {'predictions': array([ 21.32497406], dtype=float32)},
 {'predictions': array([ 12.38797665], dtype=float32)},
 {'predictions': array([ 11.45001125], dtype=float32)},
 {'predictions': array([ 14.81856346], dtype=float32)},
 {'predictions': array([ 27.49027824], dtype=float32)},
 {'predictions': array([ 17.6684227], dtype=float32)},
 {'predictions': array([ 13.98662472], dtype=float32)},
 {'predictions': array([ 29.0896244], dtype=float32)},
 {'predictions': array([ 29.05855942], dtype=float32)},
 {'predictions': array([ 11.63146305], dtype=float32)},
 {'predictions': array([ 15.02027321], dtype=float32)},
 {'predictions': array([ 16.36924744], dtype=float32)},
 {'predictions': array([ 13.37094498], dtype=float32)},
 {'predictions': array([ 29.88206673], dtype=float32)},
 {'predictions': array([ 14.82957363], dtype=float32)},
 {'predictions': array([ 31.53342628], dtype=float32)},
 {'predictions': array([ 16.63864136], dtype=float32)},
 {'predictions': array([ 10.60213661], dtype=float32)},
 {'predictions': array([ 15.16905022], dtype=float32)},
 {'predictions': array([ 15.55381107], dtype=float32)},
 {'predictions': array([ 14.30517578], dtype=float32)},
 {'predictions': array([ 8.43681908], dtype=float32)},
 {'predictions': array([ 10.25689411], dtype=float32)},
 {'predictions': array([ 22.51260757], dtype=float32)},
 {'predictions': array([ 11.75230217], dtype=float32)},
 {'predictions': array([ 19.27639008], dtype=float32)},
 {'predictions': array([ 12.09957027], dtype=float32)},
 {'predictions': array([ 11.97488308], dtype=float32)},
 {'predictions': array([ 21.52557182], dtype=float32)},
 {'predictions': array([ 39.34509277], dtype=float32)},
 {'predictions': array([ 11.43404961], dtype=float32)},
 {'predictions': array([ 10.86450481], dtype=float32)},
 {'predictions': array([ 10.04907703], dtype=float32)},
 {'predictions': array([ 24.47468376], dtype=float32)},
 {'predictions': array([ 11.11273289], dtype=float32)},
 {'predictions': array([ 17.60874367], dtype=float32)},
 {'predictions': array([ 11.6357193], dtype=float32)},
 {'predictions': array([ 18.89924049], dtype=float32)},
 {'predictions': array([ 11.48823357], dtype=float32)},
 {'predictions': array([ 24.08818626], dtype=float32)},
 {'predictions': array([ 15.60306358], dtype=float32)},
 {'predictions': array([ 16.35053062], dtype=float32)},
 {'predictions': array([ 11.34439659], dtype=float32)},
 {'predictions': array([ 20.55802345], dtype=float32)},
 {'predictions': array([ 30.30361557], dtype=float32)},
 {'predictions': array([ 29.45234299], dtype=float32)},
 {'predictions': array([ 12.21442509], dtype=float32)},
 {'predictions': array([ 30.7753582], dtype=float32)},
 {'predictions': array([ 19.6776619], dtype=float32)},
 {'predictions': array([ 11.39440536], dtype=float32)},
 {'predictions': array([ 10.75079346], dtype=float32)},
 {'predictions': array([ 13.81196117], dtype=float32)},
 {'predictions': array([ 12.44480419], dtype=float32)},
 {'predictions': array([ 12.33176136], dtype=float32)},
 {'predictions': array([ 13.63378716], dtype=float32)},
 {'predictions': array([ 10.88820553], dtype=float32)},
 {'predictions': array([ 13.64942741], dtype=float32)},
 {'predictions': array([ 11.83685589], dtype=float32)},
 {'predictions': array([ 25.2983036], dtype=float32)},
 {'predictions': array([ 20.59035873], dtype=float32)},
 {'predictions': array([ 11.4993372], dtype=float32)},
 {'predictions': array([ 19.97594261], dtype=float32)},
 {'predictions': array([ 11.17979145], dtype=float32)},
 {'predictions': array([ 10.86898518], dtype=float32)},
 {'predictions': array([ 14.15083885], dtype=float32)},
 {'predictions': array([ 10.42436504], dtype=float32)},
 {'predictions': array([ 19.62223434], dtype=float32)},
 {'predictions': array([ 12.6476965], dtype=float32)},
 {'predictions': array([ 15.32705784], dtype=float32)},
 {'predictions': array([ 13.54616642], dtype=float32)},
 {'predictions': array([ 12.99860668], dtype=float32)},
 {'predictions': array([ 26.18930054], dtype=float32)},
 {'predictions': array([ 31.7671299], dtype=float32)},
 {'predictions': array([ 23.02878761], dtype=float32)},
 {'predictions': array([ 13.79547882], dtype=float32)},
 {'predictions': array([ 16.05992126], dtype=float32)},
 {'predictions': array([ 13.16430473], dtype=float32)},
 {'predictions': array([ 15.60063839], dtype=float32)},
 {'predictions': array([ 24.96299934], dtype=float32)},
 {'predictions': array([ 16.12336349], dtype=float32)},
 {'predictions': array([ 10.58793354], dtype=float32)},
 {'predictions': array([ 22.21715546], dtype=float32)},
 {'predictions': array([ 10.92703342], dtype=float32)},
 {'predictions': array([ 9.9335928], dtype=float32)},
 {'predictions': array([ 11.30706978], dtype=float32)},
 {'predictions': array([ 11.39047337], dtype=float32)},
 {'predictions': array([ 11.07552814], dtype=float32)},
 {'predictions': array([ 18.83234978], dtype=float32)},
 {'predictions': array([ 43.89305115], dtype=float32)},
 {'predictions': array([ 13.18714046], dtype=float32)},
 {'predictions': array([ 11.38195324], dtype=float32)},
 {'predictions': array([ 10.8020916], dtype=float32)},
 {'predictions': array([ 10.25756073], dtype=float32)},
 {'predictions': array([ 11.04765224], dtype=float32)},
 {'predictions': array([ 12.05282307], dtype=float32)},
 {'predictions': array([ 26.67935753], dtype=float32)},
 {'predictions': array([ 12.87781429], dtype=float32)},
 {'predictions': array([ 17.22630882], dtype=float32)}]

In [39]:
pred = [p["predictions"] for p in predictions]

### Evaluating our regressor model using root_mean_square (RMSE) Should be ~0

In [40]:
from sklearn.metrics import mean_squared_error

In [41]:
mean_squared_error(y_test, pred)**0.5

11.050326505460363

# Done!